img{
    position: absolute;
    height: 200px;
    width: 300px;
    right: 700px;
    top: 800px;
}
    
.text{
    color: red;
}
.nour{
    color: aquamarine;
}
.Tina{
    background-color: beige;
    padding: 30px;
    margin: 50px;
    text-align: center;
}
.Tina h4{
    color: rgb(207, 135, 34);
}
myimg{
    width: 300px;
    right: 700px;
}
